flask
transformers
torch
PyPDF2
python-docx
python-pptx
speechrecognition
googletrans==4.0.0rc1
keybert
sentence-transformers
reportlab
flask-login
flask-bcrypt
python-docx
python-pptx
reportlab
speechrecognition
googletrans==4.0.0rc1
flask-login
flask-bcrypt