<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Notes Login</title>


<link rel="stylesheet"
      href="{{ url_for('static', filename='css/auth.css') }}">


</head>

<body>

<div class="auth-container">


<h1>📚 Smart Notes</h1>

<p class="subtitle">
    Login to access AI-powered note summarization
</p>

<form method="POST">

    <input
        type="email"
        name="email"
        placeholder="📧 Enter your Email"
        required>

    <input
        type="password"
        name="password"
        placeholder="🔒 Enter your Password"
        required>

    <button type="submit">
        Login
    </button>

</form>

<p>
    Don't have an account?
    <a href="/register">Register</a>
</p>


</div>

</body>
</html>
